<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Selftest</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link rel="icon" href="{% static 'heartify/img/favicon.ico' %}">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Roboto:wght@500;700;900&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Animation Libraries Stylesheet -->
    <link href="{% static 'heartify/lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'heartify/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'heartify/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.5.1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.1/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'heartify/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'heartify/css/style.css' %}" rel="stylesheet">
</head>
<body>
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0 wow fadeIn" data-wow-delay="0.1s">
        <a href="{% url 'home' %}" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <h1 class="m-0 text-primary" ><i class="far fa-heart me-3"></i><span style="font-family: 'Roboto', sans-serif;"><strong>Heartify</strong></span></h1>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="{% url 'home' %}" class="nav-item nav-link">Home</a>
                <a href="{% url 'about' %}" class="nav-item nav-link">About</a>
                <a href="{% url 'contact' %}" class="nav-item nav-link">Contact</a>
                <a href="{% url 'selftest' %}" class="nav-item nav-link active">Selftest</a>
            </div>
            <a href="{% url 'appointment' %}" class="btn btn-primary rounded-0 py-4 px-lg-5 d-none d-lg-block">Appointment<i class="fa fa-arrow-right ms-3"></i></a>
        </div>
    </nav>
    <!-- Navbar End -->

    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Selftest</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb text-uppercase mb-0">
                    <li class="breadcrumb-item"><a class="text-white" href="{% url 'home' %}">Home</a></li>
                    <li class="breadcrumb-item text-primary active" aria-current="page">Selftest</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->

    <!-- Selftest Form Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="bg-light rounded p-5">
                        <p class="d-inline-block border rounded-pill py-1 px-4">Selftest</p>
                        <h1 class="mb-4">Selftest</h1>
                        <p class="mb-4" style="text-align: justify;">Heart failure is a serious condition where the heart is unable to pump blood effectively, which can lead to various health complications. By answering the questions in this form, you will gain insights into your heart failure risk and receive a percentage change based on your responses. Remember that this self-test is not a substitute for professional medical advice, diagnosis, or treatment. If you have concerns about your heart health, consult with a healthcare provider for a comprehensive evaluation.</p>
                        <form id="myForm" data-url="{% url 'selftest' %}">
                            {% csrf_token %}
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="number" class="form-control" id="Age" name="Age" placeholder="Your Age" min="1" max="120" required>
                                        <label for="Age">Your Age</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <select class="form-select border-0" style="height: 55px;" id="Age" name="Sex" required>
                                        <option value="" disabled selected>Choose Sex</option>
                                        <option value="1">Male</option>
                                        <option value="0">Female</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <select class="form-select border-0" style="height: 55px;" id="ChestPainType" name="ChestPainType" required>
                                        <option value="" disabled selected>Choose ChestPainType</option>
                                        <option value="0">ASY</option>
                                        <option value="1">NAP</option>
                                        <option value="2">ATA</option>
                                        <option value="3">TA</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="number" class="form-control" id="RestingBP" name="RestingBP" placeholder="Your RestingBP" min="0" max="250" required>
                                        <label for="RestingBP">Your RestingBP</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="number" class="form-control" id="Cholesterol" name="Cholesterol" placeholder="Your Cholesterol" min="1" max="1000" required>
                                        <label for="Cholesterol">Your Cholesterol</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <select class="form-select border-0" style="height: 55px;" id="FastingBS" name="FastingBS" required>
                                        <option value="" disabled selected>Choose FastingBS</option>
                                        <option value="1">1</option>
                                        <option value="0">0</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <select class="form-select border-0" style="height: 55px;" id="RestingECG" name="RestingECG" required>
                                        <option value="" disabled selected>Choose RestingECG</option>
                                        <option value="0">Normal</option>
                                        <option value="1">LVH</option>
                                        <option value="2">ST</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="number" class="form-control" id="MaxHR" name="MaxHR" placeholder="Your MaxHR" min="1" max="200" required>
                                        <label for="MaxHR">Your MaxHR</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <select class="form-select border-0" style="height: 55px;" id="ExerciseAngina" name="ExerciseAngina" required>
                                        <option value="" disabled selected>Choose ExerciseAngina</option>
                                        <option value="1">Yes</option>
                                        <option value="0">No</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="number" class="form-control" id="Oldpeak" name="Oldpeak" placeholder="Your Oldpeak" min="-10" max="10" required>
                                        <label for="MaxHR">Your Oldpeak</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <select class="form-select border-0" style="height: 55px;" id="STSlope" name="STSlope" required>
                                        <option value="" disabled selected>Choose STSlope</option>
                                        <option value="0">Flat</option>
                                        <option value="1">Up</option>
                                        <option value="2">Down</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <textarea class="form-control border-0" id="result" placeholder="Your Results" style="resize: none;" disabled></textarea>
                                        <label for="result">Your Results</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <div class="h-100" style="min-height: 400px;">
                        <img class="rounded img-fluid" src="{% static 'heartify/img/8test1.jpg' %}" alt="namw">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Selftest Form End -->

    <!-- Feature Start -->
    <div class="container-fluid bg-primary overflow-hidden my-5 px-lg-0">
        <div class="container feature px-lg-0">
            <div class="row g-0 mx-lg-0">
                <div class="col-lg-6 pe-lg-0 wow fadeIn" data-wow-delay="0.5s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute img-fluid w-100 h-100" src="{% static 'heartify/img/selftest2.jpg' %}" style="object-fit: cover;" alt="">
                    </div>
                </div>
                <div class="col-lg-6 feature-text-right py-5 wow fadeIn" data-wow-delay="0.1s">
                    <div class="p-lg-5 ps-lg-0">
                        <p class="d-inline-block border rounded-pill text-light py-1 px-4">Results</p>
                        <h1 class="text-white mb-4">What Do The Results Mean?</h1>
                        <p class="text-white mb-4 pb-2" style="text-align: justify;">At Heartify, our overarching goals center around elevating healthcare standards, fostering community well-being, and providing personalized, innovative solutions. We aspire to be a beacon of excellence in medical care, promoting a healthier, more empowered community through our commitment to compassion, education, and continuous improvement.</p>
                        <p class="text-white mb-4 pb-2" style="text-align: justify;">At Heartify, our goals revolve around shaping a future where healthcare is not just a service but a transformative experience. We strive to continually innovate patient care, empower community wellness, and provide personalized health strategies. By maintaining excellence in medical practices, fostering collaborative patient-doctor relationships, and leveraging technology, we aim to be at the forefront of a healthcare revolution.</p>
                        <div class="row g-4">
                            <div class="col-6">
                                <div class="d-flex align-items-center">
                                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-light" style="width: 55px; height: 55px;">
                                        <i class="fa fa-user-md text-primary"></i>
                                    </div>
                                    <div class="ms-4">
                                        <p class="text-white mb-2">Innovative</p>
                                        <h5 class="text-white mb-0">Patient Care</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-flex align-items-center">
                                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-light" style="width: 55px; height: 55px;">
                                        <i class="fa fa-check text-primary"></i>
                                    </div>
                                    <div class="ms-4">
                                        <p class="text-white mb-2">Empower</p>
                                        <h5 class="text-white mb-0">Community Wellness</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-flex align-items-center">
                                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-light" style="width: 55px; height: 55px;">
                                        <i class="fa fa-comment-medical text-primary"></i>
                                    </div>
                                    <div class="ms-4">
                                        <p class="text-white mb-2">Personalized</p>
                                        <h5 class="text-white mb-0">Health Strategies</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-flex align-items-center">
                                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-light" style="width: 55px; height: 55px;">
                                        <i class="fa fa-medkit text-primary"></i>
                                    </div>
                                    <div class="ms-4">
                                        <p class="text-white mb-2">Excellent</p>
                                        <h5 class="text-white mb-0">Medical Practices</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- Feature End -->

    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light footer mt-5 pt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-6 col-md-6">
                    <h5 class="text-light mb-4">Address</h5>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Heartify, IIUM, Jalan Imam Malik, 53100, Selangor</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+601 1645 43572</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>heartifycontact@gmail.com</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-outline-light btn-social rounded-circle" href="https://twitter.com" target=”_blank”><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social rounded-circle" href="https://www.facebook.com/" target=”_blank”><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social rounded-circle" href="https://www.youtube.com/" target=”_blank”><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-light btn-social rounded-circle" href="https://www.linkedin.com/" target=”_blank”><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <h5 class="text-light mb-4">Services</h5>
                    <a class="btn btn-link" href="{% url 'about' %}">Cardiology</a>
                </div>
                <div class="col-lg-2 col-md-6">
                    <h5 class="text-light mb-4">Quick Links</h5>
                    <a class="btn btn-link" href="{% url 'about' %}">About Us</a>
                    <a class="btn btn-link" href="{% url 'contact' %}">Contact Us</a>
                    <a class="btn btn-link" href="{% url 'selftest' %}">Selftest</a>
                    <a class="btn btn-link" href="{% url 'appointment' %}">Appointment</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->

    <!-- Back to Top Button -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'heartify/lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'heartify/lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'heartify/lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'heartify/lib/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'heartify/lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'heartify/lib/tempusdominus/js/moment.min.js' %}"></script>
    <script src="{% static 'heartify/lib/tempusdominus/js/moment-timezone.min.js' %}"></script>
    <script src="{% static 'heartify/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js' %}"></script>

    <!-- Selftest Javascript -->
    <script src="{% static 'heartify/js/selftest.js' %}"></script>
    <!-- Page Javascript -->
    <script src="{% static 'heartify/js/page.js' %}"></script>
    <!-- Template Javascript -->
    <script src="{% static 'heartify/js/main.js' %}"></script>
</body>
</html>